body {
    background-color: ghostwhite;
    color: black;
    font-family : "Georgia";
    margin: 0;
    padding: 0;
}

.jumbotron {
   font-size: 16px;
   padding: 25px;
   background-color: cornflowerblue;
   color: lightyellow;
   text-align: center;
}


h1 {
    font-size: 3em;
}

nav {
    background-color: crimson;
    padding: 5px 1px;
    position: sticky;
    top: 0;
    text-align: center;
}

nav a {
   font-size: 1em;
   font-weight: bold;
   text-decoration: none;
   color: cornsilk;
}

nav a:hover {
    font-size: 1.1em;
    font-weight: 900;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

main {
    padding: 20px;
    overflow: auto;
}

#content {
    float: left;
    width: 75%;
}

h2, h3 {
    text-align: center;
}

#sd h2 {
    color: red;
}

#smp h2 {
    color: blue;
}

#sma h2 {
    color: grey;
}

#kuliah h2 {
    color: green;
}

h2 ~ p, h3 ~ p {
    text-indent: 2em;
    text-align: justify;
}

footer p{
    padding: 20px;
    color: white;
    background-color: dodgerblue;
    text-align: center;
    font-weight: bold;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.profile, 
.profile p, 
.profile h2, 
.jumbotron p {
    text-indent: 0em;
    text-align: center;
}


.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

header {
    display: inline;
}

table {
    text-align: left;
}

